body{
	margin: 0;
	padding: 0;
}
header{
	height: 192px;
	background: white;
	padding:30px 155px;
	word-wrap: break-word;
}
.header-ad{
	animation: adAnimation 3s infinite;
}
@keyframes adAnimation{
	from{opacity: 0;}
	to{opacity: 1}
}
main{
	background: white;
}
nav{
	height: 62px;
	background: #006699;
}
nav > ul > li {
	padding: 0 22px;
}
.navbar-nav .nav-link{
	padding:18px;
	color: white;
}
nav > ul > li > .active{
	color: white;
	border-bottom: 4px solid #0033cc;	
}
nav > ul > li > a:hover{
	text-decoration: none;
	color: white;
}
main{
	background: #fff;
	margin:0 155px;
	padding: 20px; 
	font-family: 'Mukta';
}
.breaking-news{
	width:100%;
	height: 55px;
	padding: 16px 0;
}
.breaking-news-title{
	font-size: 20px;
	padding: 14px 10px 7px 10px;
	background: #006699;
	border-left: 1px solid black;
	animation: bkNews 1s infinite;
}
@keyframes bkNews{
	from{color: #006699;}
	to{color: white; }
}
.date{
	font-size: 13px;
}
.desc{
	font-size: 15px;	
}
.top-main{
	margin: 18px 0;
}
.img-thumbnail{
	border: none !important;
	padding: 0 !important;
	border-radius: 0 !important;
}
.carousel-item{
	background: rgb(240,240,240);
}
.banner-description{
	padding: 5% 3%;
}
.sidebar > div{
	margin:0 0 20px 0;
}
.sidebar-news:hover{
	box-shadow: 0 2px 4px 0 #ccc;
}
.basic-title{
	text-align: center;
	padding: 2% ;
	background: #3399cc;
	width: 30%;
}
.right-ads > img{
	margin-bottom: 40px;
}
.middle-section-ad{
	animation: adAnimation 3s infinite;
}
.news-section{
	margin:3% 0; 
}
.major-news:hover{
	box-shadow: 0 2px 4px 0 #ccc;
}
.rastriya-title{
	color: #006699;
}